= render "shared/side_bar"

.chat-main
  .chat-main__header
    .chat-main__header--group
      %h1.chat-main__header--group-name
        = @group.name
      %p.chat-main__header--group-members
        MEMBER:
        - @group.members.each do |member|
          = member.user.name
    .btn
      = link_to edit_group_path(@group) do
        .btn-edit
          Edit

  .chat-main__content
    .chat-main__list
      = render @messages

  .chat-main__footer
    .footer__form
      = form_for [@group, @message],html: {id: 'new__message'} do |f|
        =f.text_field :body, class: 'form__message', placeholder: "type a message"
        = f.label :image, class: 'form__image' do
          = f.file_field :image, class: 'image'
          = fa_icon 'picture-o', class:'icon'  
        = f.submit 'Send', class: 'form__submit'

